<h1>{{tittle_empleado}}</h1>

    <hr/>

    <h3>Selector de colores</h3>
    <button (click) = "logColorSeleccionado()">Mostrar log con color seleccionado</button>
    <input type="text" [(ngModel)]="color_seleccionado" />
    
    <!-- DIFERENTES FORMAS DE UTILIZAR NGCLASS
        
        se puede agregar como atributo en una etiqueta, en este caso se podría agregar a pre
         [class.fondoAzul] = "color_seleccionado == 'blue' " -->
    <!--  
        [ngClass] = "{
                        fondoAzul: color_seleccionado == 'blue'
                        ,fondoVerde: color_seleccionado == 'green'
                        ,letraGrande: 1 == 1
                    }" 
    -->
    <!-- 
        [ngClass] = "['fondoAzul', 'letraGrande']"
     -->

    <pre [style.border]= "color_seleccionado == 'red' ? '5px solid black' : '1px solid white'"
         [ngClass] = "{
            fondoAzul: color_seleccionado == 'blue'
            ,fondoVerde: color_seleccionado == 'green'
            ,letraGrande: 1 == 1
        }" 
    > 
        <strong>Color elegido:</strong>
        {{color_seleccionado}}
    </pre>

    <div [ngStyle] = "{
                        'background': color_seleccionado,
                        'width' : '200px',
                        'height' : '200px',
                        'float' : 'right',
                        'margin-right': '69%'
                        
    }">
    </div>
    <div style= "clear:both"></div>
    

    <hr/>

    <h3>Colores Switch</h3>
    <!-- ngSwitch + valor o propiedad que se cambiara
        FUNCIONAN bajo la propiedad color de la clase empleado.component(.ts)
    -->
    <ul [ngSwitch]= "color">
        <li *ngSwitchCase = "'red'" 
             [ngStyle]= "{
                             'background': color
                            ,'color': 'white'
                            ,'padding' : '20px'
                        }"> 
             es de color ROJO
        </li>
        <li *ngSwitchCase = "'green'" 
             [ngStyle]= "{
                             'background': color
                            ,'color': 'white'
                            ,'padding' : '20px'
                        }"> 
             es de color VERDE
        </li>
        <li *ngSwitchCase = "'blue'" 
             [ngStyle]= "{
                             'background': color
                            ,'color': 'white'
                            ,'padding' : '20px'
                        }"> 
             es de color AZUL
        </li>
    </ul>

    <hr>

    <strong> Empleado Estrella</strong>

    <div *ngIf = "trabajador_externo == true">
        <button (click)= "cambiarExterno(false)">Mostrar trabajador</button>
        <ul>
            <li>{{trabajadores[2].nombre}}</li>
            <li>{{trabajadores[2].edad}}</li>
            <li>{{trabajadores[2].cargo}}</li>
            <li *ngIf = "trabajadores[2].contratado == true ">Esta contratado</li>
            <li *ngIf = "trabajadores[2].contratado == false ">No Esta contratado</li>
        </ul>    
    </div>
    
    <div *ngIf = "trabajador_externo == false ">
        <button (click) = "cambiarExterno(true)">Mostrar empleado</button>
        <ul>
            <li>{{empleado.nombre}}</li>
            <li>{{empleado.edad}}</li>
            <li>{{empleado.cargo}}</li>
            <li *ngIf = "empleado.contratado == true ">Esta contratado</li>
            <li *ngIf = "empleado.contratado == false ">No Esta contratado</li>
        </ul>
    
    </div>
    
    <hr>

    <h3>Listado de Empleados</h3>
    <ul>
        <li *ngFor = "let empleado of trabajadores; let i = index">
            <strong> Empleado {{i+1}}: </strong>
            <ul>
                <li>{{empleado.nombre}}</li>
                <li>{{empleado.edad}}</li>
                <li>{{empleado.cargo}}</li>
                <li *ngIf = "empleado.contratado == true ">Esta contratado</li>
                <li *ngIf = "empleado.contratado == false ">No Esta contratado</li>
            </ul>
        </li>
    </ul>

   