<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <hr>

</div>

<nav>
  <a [routerLink] = "['/pagina-principal']" [routerLinkActive] = "['activado']">
    Home
  </a>
  -
  <a [routerLink] = "['/fruta']" [routerLinkActive] = "['activado']">
    Fruta
  </a>
  -
  <a [routerLink] = "['/empleado']" [routerLinkActive] = "['activado']">
    Empleado
  </a>
  -
  <a [routerLink] = "['/contacto']" [routerLinkActive] = "['activado']">
    Contacto
  </a>

</nav>

<hr>

<!-- SE COMENTA EL TAG  -->
<!-- <empleado></empleado> -->

<!-- DENTRO DE ESTA ETIQUETA SE CARGARA EL COMPONENTE  ASOCIADO A LA RUTA ACTUAL
    componente que se esta indicando en el path de la url -comp asociado a la ruta actual
-->
<router-outlet></router-outlet>
