
body {
    background: pink;
}


.fondoAzul{
    background:  lightblue !important;
}

.fondoVerde{
    background: lightgreen !important;
}

.letraGrande{
    font-size: 30px;
}

.activado{
    font-weight: bold;
    background: yellow;
}

.lineaBlanca{
    color: black;
    background-color: black;
}